@import "partial/colors";

body{
    background-color: $background-color;
    height:100%;
    width: 100%;
}
h1 {
    color: $main-pokedex-color;
    font-weight: bold;
    text-shadow: 2px 2px $text-screen-color;
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
}

@import "partial/gifcontainer";

@import "partial/pokedex";
