$body-color:lightblue;
$main-pokedex-color: red;
$grey-screen-color:grey;
$blue-screen-color:blue;
$white-screen-color:white;
$pokedex-bigbutton-color:yellow;
$lens-color:darkblue;
$pokedex-smallbutton-color:green;
