$background-color:lightblue;
$main-pokedex-color: red;
$main-pokedex-shadow:darkred;
$grey-screen-color:grey;
$blue-screen-color:blue;
$white-color:white;
$pokedex-bigbutton-color:yellow;
$lens-color:#0ff;

$pokedex-smallbutton-color:green;
