$background-color:lightblue;
$main-pokedex-color: red;
$main-pokedex-shadow:darkred;
$image-screen-color: lightgrey;
$text-screen-color:blue;
$lens-glow-color:white;
$pokedex-bigbutton-color:yellow;
$lens-color:#0ff;
$pokedex-smallbutton-color:green;
